*,
*::before,
*::after{
    margin: 0;
    padding 0;
    box-sizing: border-box;
}


html{
    font-size: 10px;
    height:100%;
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 232, 232);
    padding: 0 1.5rem;

}

a{
    text-decoration: none;
}

.card{
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: rgb(228, 210, 210);
    box-shadow: 0 1.4rem 8rem rbga(0,0,0,.2);
    display: flex;
    align-items: center;
    border-radius: 5rem;
    background-image: url('./images/white.png');

}


img{
    width: 100%
}

.flex-container {
    flex-direction: column;
    align-items:center;
}

.connect h2{
    font-size: 20px; 
    padding-bottom: 0.5rem ; 
    padding-top: 1.5rem;
}

.actions li {
    display: inline;
    list-style-type: none;
    padding :50px 50px;
    font-size: 3em;
    align-items: left;
    padding-left: 0px;
    padding-top: 100px;
    margin-top: 20rem;
  }

.fa-facebook-f{
    color : #1877f2;
}

.fa-linkedin-in{
    color:#2867B2;
}

.fa-github{
    color: #211F1F;
}

.card_img{
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}

.card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
    display: block;
    border-radius: 20%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.card_img::before{
    content: '';
    width: 200px;
    height: 200px;
    position: flex;
    top: 0;
    left: 0;
    box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px black;
}

.name {
    font-size: 3rem;
    margin: 0rem 0 ;
    text-transform: uppercase;
    color: #000000 ;

}

.txt{
    margin-bottom: 3rem;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
}



.button {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
  }
.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
.button:hover {
    color: #fff;
  }
.button:hover:before {
    width: 100%;
  }

@media screen and (max-width 1068px){
    .card{
        max-width: 80rem;
    }
    .card_img{
        min-width:30rem;
        max-width:30rem;
    }

}

@media screen and (max-width 868px){
    .card{
        max-width: 70rem;
    }
    
}

@media screen and (max-width 768px){
    .card{
        padding: 2.5rem;
        flex-direction: column;
    }
    .card_img{
        min-width:100%;
        max-width:100%;
        transform: translate(0,-8rem);
    }
    
}
